<div id="TablaDinamica3">
	<table class="table table-striped table-bordered table-hover">
	    <thead>
	        <tr>
	        	<th>Casilla</th>
	        	<th>IMG</th>
	            <th>Candidato</th>
	            <th>Partido</th>
	            <th># Marcas</th>
	        </tr>
	    </thead>
	    <tbody>
	    {% for Diputado in TDiputados %}
	        <tr>
	        	<td>{{Diputado.RepDiputadoID}}</td>
	        	<td><img src="{{MEDIA_URL}}{{Diputado.RepDiputadoImagen}}" class="imagenRedonda2" alt="{{Diputado.RepAlcaldeNombre}}"></td>
	            <td>{{Diputado.RepDiputadoNombre}}</td>
	            <td>{{Diputado.MovimientoID.MovimientoCodigo}}</td>
	            <td>{{Diputado.SumaValidos}}</td>
	        </tr>
	    {% endfor %}
	    </tbody>
	</table>
</div>