<div id="resultadoDiputados">
	{% for Diputado in TDiputados %}
	<div class="row cajaVotosDip" style="border: 1px solid blue; border-radius: 4px; margin-bottom:2em; padding: 10px">
		<div class="col-sm-4">
			<b><span>[{{Diputado.MovimientoID.MovimientoCodigo}}] {{Diputado.RepDiputadoNombre}} (#{{Diputado.OrdenRepDiputados}})
			</span></b>
			<div># MER: <span name="noActaDip"></span></div>
		</div>
		<div class="col-sm-8">
			<form id="formN{{Diputado.RepDiputadoID}}" class="form-horizontal candidatos" action="ActaDiputado/" method="POST">{% csrf_token %}
				<div class="row">
					<div class="col-6 col-sm-6 col-lg-6">
						<input type="number" min="0" class="form-control numero" name="CantVotos" placeholder="#Votos" autocomplete="off">
					</div>
					<div class="col-6 col-sm-4 col-lg-4">
						<input type="hidden" class="form-control" name="UsuarioEmetID" value="{{ user.id }}" readonly>
					</div>
					<div class="col-6 col-sm-4 col-lg-4">
						<input type="hidden" class="form-control" name="NoActa" placeholder="# MER" readonly>
					</div>
					<div class="col-lg-6 col-sm-4 col-lg-4">
						<input type="hidden" class="form-control" name="RepDiputadoID" value='{{Diputado.RepDiputadoID}}' readonly>
					</div>
					<div class="col-6 col-sm-4 col-lg-4">
						<button id="target{{Diputado.RepDiputadoID}}" class="btn btn-primary" type="submit">Guardar</button>
					</div> 
				</div>
				<div class="alert" style="margin-top: 1em;" hidden>  
					<a class="close" data-dismiss="alert">×</a>
				</div>
			</form>
		</div>
	</div>
	{% empty %}
	<div class="alert alert-danger" style="margin-top: 1em;">  
		<a class="close" data-dismiss="alert">×</a>
		<span>No hay diputados registrados</span>
	</div>
	{% endfor %}
</div>