<!DOCTYPE html>
<html>
<head>
  <title>Gráficas de Alcaldes | Emet</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- Bootstrap -->
  <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="{{STATIC_URL}}css/app.css" rel="stylesheet" media="screen">
</head>
<body>
  <div id="mainNavbar" class="navbar">
    <a id="tituloNavBar" class="navbar-brand" href="/">emet</a>
     {% if user.is_authenticated %}
    <a class="btn btn-danger navbar-btn" href="/logout_/">Cerrar Sesion</a>
    <p id="usuario" class="navbar-text pull-right">Inició Sesion como <strong>{{ user.username }}</strong></p>
    {% endif %}
  </div>
  <div class="row">
      <div class="col-md-6">
          <div id="container"></div>
      </div>
      <div id="Reemplazador" class="col-md-6">
      <div id="TablaDinamica">
        <h4>Cargando datos...</h4>
      </div>
      </div>
  </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.timer.js"></script>
    <script src="{{ STATIC_URL }}js/highcharts.js"></script>
    <script src="{{ STATIC_URL }}js/modules/exporting.js"></script>
<script type="text/javascript">
    
        $(function(){

            var cuadroAlcaldes = function()
            {
                //alert("LlamandoTabla");
                $.ajax({
                    url: '/DatosCuadroAlcaldes/',
                    type: 'GET',
                    data: {
                        
                    },
                    traditional: true,
                    dataType: 'html',
                    success: function(result) {
                        $("#TablaDinamica").remove();
                        $('#Reemplazador').append(result);
                        //alert(result);
                    },
                      // error: function (xhr, ajaxOptions, thrownError) {
                      //   alert(xhr.status);
                      //   alert(thrownError);
                      // }
                });
            };

            var charts = function(data, nombres)
            {
                console.log(data);

                $('#container').highcharts({
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: 'Cantidad de Votos Válidos por Alcaldes - PAC Choluteca'
                    },
                    subtitle: {
                        text: 'Source: emet'
                    },
                    xAxis: {
                        categories: nombres,
                        title: {
                            text: null
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Cantidad de Votos',
                            align: 'high'
                        },
                        labels: {
                            overflow: 'justify'
                        }
                    },
                    tooltip: {
                        valueSuffix: ' Votos'
                    },
                    plotOptions: {
                        series: {
                            animation: false,
                            colorByPoint: true
                        },
                        bar: {
                            dataLabels: {
                                enabled: true
                            }
                        }
                    },
                    legend: {
                        layout: 'vertical',
                        align: 'right',
                        verticalAlign: 'bottom',
                        x: -40,
                        y: 100,
                        floating: true,
                        borderWidth: 1,
                        backgroundColor: '#FFFFFF',
                        shadow: true
                    },
                    credits: {
                        enabled: false
                    },
                    series: [{
                        name: 'Votos Válidos',
                        data: data
                    }],
                    colors: [
                       '#F4FA58', 
                       '#DF0101', 
                       '#aaa', 
                       '#910000', 
                       '#1aadce', 
                       '#492970',
                       '#f28f43', 
                       '#77a1e5', 
                       '#c42525', 
                       '#a6c96a'
                    ]
                });
            };

            var nombres = [];

            {% for nombre in Nombres %}
                nombres.push('{{ nombre }}');
            {% endfor %}

            charts( {{ Valor }}, nombres); //LLama a la función que contiene el procedimiento para generar el gráfico y le pasa los valores

            var timer = $.timer(5000, function(){

                $.get("/DatosAlcaldes/", function(datos){
                    charts(datos, nombres);  //Datos formateados en JSON
                });

                // $.get("/DatosCuadroAlcaldes/", function(tabla){
                //     $("#TablaDinamica").remove();
                //     $('#Reemplazador').append(tabla);
                //     alert(tabla);
                // });

                cuadroAlcaldes();
            });
        });

        
    </script>
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <blockquote>
          <article>
            <p>Sistema de Conteo de Votos Electorales.</p>
          </article>
          <article>
            <strong>Partido Anti Corrupción de Honduras (PAC) - Choluteca.</strong>
          </article>
          <article>
            Sistema creado y diseñado por Moncho Zuniga (<a href="https://www.twitter.com/monchozuniga" target="_blank">@monchozuniga</a>) y Daniel Ortiz (<a href="https://www.twitter.com/danielortiz_d" target="_blank">@danielortiz_d</a>). Derechos Reservados &#169; 2013. 
          </article>
        </blockquote>
      </div>
    </div>
  </div>
</div>
</body>
</html>