{% extends 'base.html' %}
{% block titulo %} emet | Alcaldes {% endblock %}
{% block usuarioInfo %} 
  <p id="usuario" class="navbar-text">Inicio Sesion como Ramon Zuniga</p>
{% endblock %}
{% block contenido %}
<div class="container">
    <form class="form-horizontal">
      <div class="form-group">
        <h3><label for="noMet" class="col-lg-2 control-label"># MER:</label></h3>
        <div class="col-6 col-sm-4 col-lg-4">
          <input type="text" class="form-control" id="noMer" placeholder="#">
        </div>
      </div>
    </form>
    <div class="panel panel-primary">
      <div class="panel-heading">Conteo de Votos de Presidentes</div>
      <section id="contenidoPrimario">
        <div class="row">
          <div class="col-lg-9">
            <div class="container">
              <div class="row">
                <div class="col-lg-4">
                  <a href="#"><img src="{{STATIC_URL}}img/salvador.jpg" class="imagenRedonda" alt=""></a>
                  <p>| Salvador Nasralla (PAC)</p>
                </div>
                <div class="col-lg-6">
                  <form class="form-inline">
                    <div class="form-group">
                      <input type="text" class="form-control" id="votosValidos" placeholder="Votos Validos">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="votosNulos" placeholder="Votos Nulos">
                    </div>
                    <div class="form-group">
                      <input type="text" class="form-control" id="votosBlancos" placeholder="Votos Blancos">
                    </div>
                    <button class="btn btn-primary" type="submit">Guardar</button> 
                  </form>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-lg-4">
                 <a href="#"><img src="{{STATIC_URL}}img/juanorlando.jpg" class="imagenRedonda" alt=""></a>
                 <p>| Juan Orlando Hernandez (PN)</p>
               </div>
               <div class="col-lg-6">
                <form class="form-inline">
                  <div class="form-group">
                    <input type="text" class="form-control" id="votosValidos" placeholder="Votos Validos">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="votosNulos" placeholder="Votos Nulos">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="votosBlancos" placeholder="Votos Blancos">
                  </div>
                  <button class="btn btn-primary" type="submit">Guardar</button> 
                </form>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-lg-4">
               <a href="#"><img src="{{STATIC_URL}}img/xiomara.jpg" class="imagenRedonda" alt=""></a>
               <p>| Xiomara Castro de Zelaya (Libre)</p>
             </div>
             <div class="col-lg-6">
              <form class="form-inline">
                <div class="form-group">
                  <input type="text" class="form-control" id="votosValidos" placeholder="Votos Validos">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="votosNulos" placeholder="Votos Nulos">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="votosBlancos" placeholder="Votos Blancos">
                </div>
                 <button class="btn btn-primary" type="submit">Guardar</button>  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

</div>
{% endblock contenido %}