html,
body {
	height: 100%;
}

label.error {
	color: red;
	font-weight: bold;
}
.imagenRedonda {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.imagenRetina {
	height: 150px;
	width: 150px;
}

#contenidoPrimario {
	margin-left: 5%;
}

#contenidoPrimario p {
	margin-top: 1em;
	margin-bottom: 2em;
}

/*#contenidoPrimario img:hover {
	background-color: red;
}*/

#mainNavbar {
	background-color: #F9D423;
	border-bottom: 3px solid #EDE574;
}

#tituloNavBar {
	font-size: 2em;
}

#footer {
	background-color: #F9D423;
	height: auto;
}

#login legend {
	text-align: center;
}

#push {
	height: 100px;
}

#panelLogin {
	margin-top: 4em;
}

#wrap {
	min-height: 60%;
	height: auto !important;
	height: 60%;
	margin: 0 auto 60px;
}

